<?xml version="1.0"?>
<!-- 
/**
 *
 * @category   Inovarti
 * @package    Inovarti_Mundipagg
 * @author     Suporte <suporte@inovarti.com.br>
 */
-->
<config>
    <modules>
        <Inovarti_Mundipagg>
            <version>2.0.0</version>
        </Inovarti_Mundipagg>
    </modules>
    <global>
        <models>
            <mundipagg>
                <class>Inovarti_Mundipagg_Model</class>
                <resourceModel>mundipagg_mysql4</resourceModel>
            </mundipagg>
            <mundipagg_mysql4>
                <class>Inovarti_Mundipagg_Model_Mysql4</class>
            </mundipagg_mysql4>
        </models>
        <resources>
            <mundipagg_setup>
                <setup>
                    <module>Inovarti_Mundipagg</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mundipagg_setup>
            <mundipagg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mundipagg_write>
            <mundipagg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mundipagg_read>
        </resources>
        <blocks>
            <mundipagg>
                <class>Inovarti_Mundipagg_Block</class>
            </mundipagg>
        </blocks>
        <helpers>
            <mundipagg>
                <class>Inovarti_Mundipagg_Helper</class>
            </mundipagg>
        </helpers>
        <payment>
            <cc>
                <types>
                    <AE>
                        <code>AE</code>
                        <name>Amex</name>
                        <order>0</order>
                    </AE>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>Mastercard</name>
                        <order>20</order>
                    </MC>
                    <DN>
                        <code>DN</code>
                        <name>Diners</name>
                        <order>30</order>
                    </DN>
                    <EL>
                        <code>EL</code>
                        <name>Elo</name>
                        <order>40</order>
                    </EL>
                    <HI>
                        <code>HI</code>
                        <name>Hipercard</name>
                        <order>50</order>
                    </HI>
                </types>
            </cc>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <cc_parcelamento><to_order_payment>*</to_order_payment></cc_parcelamento>
                <cc_cpf><to_order_payment>*</to_order_payment></cc_cpf>
                <cc_valor><to_order_payment>*</to_order_payment></cc_valor>
                <boleto_url><to_order_payment>*</to_order_payment></boleto_url>
                <order_key><to_order_payment>*</to_order_payment></order_key>
                <order_reference><to_order_payment>*</to_order_payment></order_reference>
                <transaction_status><to_order_payment>*</to_order_payment></transaction_status>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <mundipagg>
                <use>standard</use>
                <args>
                    <module>Inovarti_Mundipagg</module>
                    <frontName>mundipagg</frontName>
                </args>
            </mundipagg>
        </routers>
        <translate>
            <modules>
                <Inovarti_Mundipagg>
                    <files>
                        <default>Inovarti_Mundipagg.csv</default>
                    </files>
                </Inovarti_Mundipagg>
            </modules>
        </translate>
        <layout>
            <updates>
                <mundipagg  module="Inovarti_Mundipagg">
                    <file>inovarti/mundipagg.xml</file>
                </mundipagg>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Inovarti_Mundipagg>
                    <file>inovarti/mundipagg.xml</file>
                </Inovarti_Mundipagg>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <mundipagg_add_order_button>
                        <type>singleton</type>
                        <class>Inovarti_Mundipagg_Model_Observer</class>
                        <method>addOrderButton</method>
                    </mundipagg_add_order_button>
                </observers>
            </adminhtml_block_html_before>
        </events>        
    </adminhtml>
    <admin>
        <routers>
            <mundipagg>
                <use>admin</use>
                <args>
                    <module>Inovarti_Mundipagg</module>
                    <frontName>mundipagg</frontName>
                </args>
            </mundipagg>
        </routers>
    </admin>
    <default>
        <payment>
            <mundipaggsettings>
                <active>1</active>
                <merchant_id>8A2DD57F-1ED9-4153-B4CE-69683EFADAD5</merchant_id>
                <title>Configuração Mundipagg</title>
                <service>https://transaction.mundipaggone.com/MundiPaggService.svc?wsdl</service>
                <enable_test_mode>1</enable_test_mode>
                <retries>1</retries>
                <parcelamento>10</parcelamento>
                <price_min>15</price_min>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <clearsale>0</clearsale>
            </mundipaggsettings>
            <mundipagg_boleto>
                <active>0</active>
                <model>mundipagg/boleto</model>
                <order_status>pending_payment</order_status>
                <title>Boleto Bancário</title>
                <payment_action>order</payment_action>
                <sort_order>1</sort_order>
            </mundipagg_boleto>
            <mundipagg>
                <active>0</active>
                <model>mundipagg/payment</model>
                <order_status>processing</order_status>
                <title>Cartão de crédito</title>
                <cctypes>AE,VI,MC</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </mundipagg>
        </payment>
    </default>
    <!--crontab>
        <jobs>
            <mundipagg_paymenterrors_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mundipagg/observer::PedidoErrorOrderMundipagg</model>
                </run>
            </mundipagg_paymenterrors_orders>
        </jobs>
    </crontab-->
</config>